<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.boxtime.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>009E0689-E35E-417E-88BB-513CD28337AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1761E89D-9AD4-4BE1-AAC5-A525700B4245</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>026869A2-F8C0-4B8C-8B25-1706EB7C3FB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92557434-1154-416A-9168-231909D6985B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1761E89D-9AD4-4BE1-AAC5-A525700B4245</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7540FA63-5A25-4B4A-96D1-C7F208CD7D68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BD5E715-D284-4FD7-8269-E628D9B60187</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CB25A15-953A-42A5-9745-9066DF0BD183</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22F1CEE3-9341-48C8-B99B-04A683C5AE51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDA6C600-FCAE-41E9-9240-CD7DC5520F72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CB25A15-953A-42A5-9745-9066DF0BD183</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B271D8C4-EADD-4D90-855A-3C55ABE8601B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3807C2B2-6CEC-45C2-9C97-D59048BA0042</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CCCF091-7702-4562-978B-CA2AE7B48074</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7540FA63-5A25-4B4A-96D1-C7F208CD7D68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72021E82-F550-42FF-B788-D19BF9D0F889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7876FAB3-BB75-4B40-AA5E-4C682C4BB996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BD5E715-D284-4FD7-8269-E628D9B60187</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CCCF091-7702-4562-978B-CA2AE7B48074</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C3912A7-B94A-4862-B68F-9C9B0DB342E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92557434-1154-416A-9168-231909D6985B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B432231-0C56-4FD9-B6E9-677E9FB4DB9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>966B702A-AA40-4883-90E1-CF31FBCBD411</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E979C85B-6870-4FE8-B040-14C33456E59A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B271D8C4-EADD-4D90-855A-3C55ABE8601B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>009E0689-E35E-417E-88BB-513CD28337AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9B95BE3-6D53-4506-8FAE-C5D30A8A47F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>026869A2-F8C0-4B8C-8B25-1706EB7C3FB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDA6C600-FCAE-41E9-9240-CD7DC5520F72</key>
		<array/>
		<key>E979C85B-6870-4FE8-B040-14C33456E59A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3657C2A0-AC0D-4908-91FE-6246E9DDFC64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9066EE0-148B-42B3-BC66-3AB9B5226172</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>966B702A-AA40-4883-90E1-CF31FBCBD411</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tom Hombergs</string>
	<key>description</key>
	<string>Take control of your time</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Boxtime</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading status</string>
				<key>script</key>
				<string>boxtime status -a</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BDA6C600-FCAE-41E9-9240-CD7DC5520F72</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t status</string>
				<key>subtext</key>
				<string>List some infos about your time tracking</string>
				<key>text</key>
				<string>Status</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22F1CEE3-9341-48C8-B99B-04A683C5AE51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Use a string like "1h10m50s"</string>
				<key>text</key>
				<string>Enter duration</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B271D8C4-EADD-4D90-855A-3C55ABE8601B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tasks ...</string>
				<key>script</key>
				<string>boxtime task list --alfred --filter "$1" --count 100</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1BD5E715-D284-4FD7-8269-E628D9B60187</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>boxtime track log $1 $2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7540FA63-5A25-4B4A-96D1-C7F208CD7D68</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Log task</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>72021E82-F550-42FF-B788-D19BF9D0F889</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t log</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Log task</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7876FAB3-BB75-4B40-AA5E-4C682C4BB996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>%%</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>1761E89D-9AD4-4BE1-AAC5-A525700B4245</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>taskId</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2CB25A15-953A-42A5-9745-9066DF0BD183</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:taskId}%%{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>duration</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>009E0689-E35E-417E-88BB-513CD28337AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t start</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Start tracking</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B9B95BE3-6D53-4506-8FAE-C5D30A8A47F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tasks ...</string>
				<key>script</key>
				<string>boxtime task list --alfred --filter "$1" --count 100</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>026869A2-F8C0-4B8C-8B25-1706EB7C3FB4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>boxtime track start "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>92557434-1154-416A-9168-231909D6985B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Start task</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4B432231-0C56-4FD9-B6E9-677E9FB4DB9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t stop</string>
				<key>subtext</key>
				<string>Stop tracking your current task</string>
				<key>text</key>
				<string>Stop tracking</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3807C2B2-6CEC-45C2-9C97-D59048BA0042</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Stop task</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5C3912A7-B94A-4862-B68F-9C9B0DB342E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>boxtime track stop</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8CCCF091-7702-4562-978B-CA2AE7B48074</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>May contain #hashtags.</string>
				<key>text</key>
				<string>Enter the name of the task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>966B702A-AA40-4883-90E1-CF31FBCBD411</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t add</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add a new task</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F9066EE0-148B-42B3-BC66-3AB9B5226172</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>boxtime task add "$1" --tags</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E979C85B-6870-4FE8-B040-14C33456E59A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Add task</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3657C2A0-AC0D-4908-91FE-6246E9DDFC64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>009E0689-E35E-417E-88BB-513CD28337AC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Store duration in variable</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>026869A2-F8C0-4B8C-8B25-1706EB7C3FB4</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>List tasks</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>1761E89D-9AD4-4BE1-AAC5-A525700B4245</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>1BD5E715-D284-4FD7-8269-E628D9B60187</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>List tasks</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>22F1CEE3-9341-48C8-B99B-04A683C5AE51</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Log task</string>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2CB25A15-953A-42A5-9745-9066DF0BD183</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Store selected task in variable</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>3657C2A0-AC0D-4908-91FE-6246E9DDFC64</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>3807C2B2-6CEC-45C2-9C97-D59048BA0042</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Stop task</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>4B432231-0C56-4FD9-B6E9-677E9FB4DB9C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>5C3912A7-B94A-4862-B68F-9C9B0DB342E9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>72021E82-F550-42FF-B788-D19BF9D0F889</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>1150</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>7540FA63-5A25-4B4A-96D1-C7F208CD7D68</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Log task</string>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>7876FAB3-BB75-4B40-AA5E-4C682C4BB996</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Log task</string>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>8CCCF091-7702-4562-978B-CA2AE7B48074</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Stop task</string>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>92557434-1154-416A-9168-231909D6985B</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Start task</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>966B702A-AA40-4883-90E1-CF31FBCBD411</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Enter task name</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>B271D8C4-EADD-4D90-855A-3C55ABE8601B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Enter duration</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>B9B95BE3-6D53-4506-8FAE-C5D30A8A47F3</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Start task</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BDA6C600-FCAE-41E9-9240-CD7DC5520F72</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>List status</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E979C85B-6870-4FE8-B040-14C33456E59A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>F9066EE0-148B-42B3-BC66-3AB9B5226172</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Add task</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.boxtime/boxtime-db</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>~/.boxtime/boxtime-db</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This file contains the local database with all tasks and time log data. Don't delete it!</string>
			<key>label</key>
			<string>Database file</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>BOXTIME_DATABASE_FILE</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://boxtime.io</string>
</dict>
</plist>
